HOST=127.0.0.1
PORT=8000
DATABASE_URL=postgres://postgres:postgres@localhost/internship

OSPP_API_ENDPOINT="https://test-portal-1.summer-ospp.ac.cn"

# ZeptoMail 凭证
ZEPTO_AK=emailapikey
ZEPTO_SK=your-zepto-sk

# 模板文件目录（绝对路径）
TEMPLATE_DIR=/path/to/mentor-link-backend/api/

# 是否实际发送邮件
SEND_EMAIL=true

# 默认发件人地址
EMAIL_FROM=no-reply@r2cn.dev
